body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 0 auto 20px; /* Center and add margin to stack vertically */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* Add your custom styles for btn-1, btn-2, and btn-3 */

.btn-1{
    background-color: #f1c40f;
    border: none;
    z-index: 1;
}
.btn-1:after {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.btn-1:hover {
    color: #d900ff;
    background-image: linear-gradient(210deg, #ead818 5%, hsl(256, 94%, 80%) 75%);
}

.btn-1:hover:after {
    height: 100%;
    bottom: 0;
    top: auto;

}

.btn-1:active {
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5);
}

.btn-2 {
    color: #eeefed;
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
}

.btn-2:after {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(260deg, rgb(4, 255, 0) 5%, rgb(4, 1, 4) 80%);
    transition: all 0.3s ease;

}

.btn-2:active{
    background: transparent;
    box-shadow: 4px 4px 6px 0 rgba(149, 255, 0, 0.795), -4px -4px 6px 0 rgba(0, 152, 28, 0.475), inset -4px -4px 6px 0 rgba(43, 80, 8, 0.5), inset 4px 4px 6px 0 rgba(116, 125, 136, .1);

}

.btn-2:hover:after{
    -webkit-transform: scale(2) rotate(200deg);
    transform: scale(2) rotate(200deg);
}


.btn-3 {
    position: relative;
    border: none;
    width: 130px;
    height: 40px;
    background: linear-gradient(20deg, pink 75%, white 80%);
}

.btn-3:hover{
    color: rgb(255, 0, 153);
    background: linear-gradient(20deg, white 75%, pink 80%);
    box-shadow: #000;
}

.btn-3:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: hsl(328, 100%, 50%);
    box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
    transition: 0.3s ease all;
}

.btn-3:hover:after{
    width: 100%;
    transition: 0.6s ease all;
}